<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu" data-toggle="dropdown" style=" margin-top: 8px;margin-left: 8px;">
    Administration
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="left: 8px;">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/admin">Gérés articles</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/inviter_collaborateur">Invitation</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">logout</a></li>
    </ul>
</div>