{% extends "index.html" %}
{% block content %}
<link href="/css/style.css" rel="stylesheet">

<div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          {% if not titre_page %}
   <h1>Titre par défaut</h1>
  			{% else %}
 	<h1>{{ titre_page }}</h1>
  		{% endif %}
    <table class="table table-hover table-responsive liste_articles">
    <thead>
    	<tr>
        <th>Numéro</th>
    	<th>titre</th>
    	<th>date</th>
    	<th>auteur</th>
    	  {% if admin %}
		<th>modifier</th>
		<th>effacer</th>
    	{% endif %}
    	</tr>
    	</thead>
    	 {% if not articles %}

    	 <tr>
    	<td COLSPAN={% if admin %}6{% else %}4{% endif %} style="text-align: center;"><h2>aucun résultat</h2></td>
    	</tr>
    	 {% else %}
				{% for p in articles %}
                    <td>{{ p.unique }}</td>
    				<td><a href="/article/{{ p.url }}">{{ p.titre }}<a></td>
    				<td>{{ p.mydate }}</td>
    				<td>{{ p.auteur }}</td>
   				{% if admin %}
					<td><a href="/mise_a_jour/{{ p.url }}">&#9998;<a></td>
					<td><a href="/delete/{{ p.unique }}">X<a></td>
    			{% endif %}
    			</tr>
    			{% endfor %}
    		{% endif %}
    </table>
    
    {% if admin %}
    <div>
    <form action="/admin-nouveau">
    <input type=submit value='ajouter' type="button" class="btn btn-primary">
    </form>
    </div>
    {% endif %}

</div></div>
{% endblock %}